*{
    margin: 0;
    padding: 0;
  
}
 
body {
    color: #100423;
    background: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
}
/* -----------------------Carrusel-------------- */


.contenedor-carousel{
     width: 100%;
     padding:  20px 0px;
     margin-bottom:60px;
     overflow: hidden;
    scroll-behavior: smooth; 
}
.contenedor-carousel .carousel{
     display: flex;
     flex-wrap: nowrap;
}
.contenedor-carousel .carousel .pelicula{
     min-width: 50%;
     transition: .3s ease all;
     box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.3);
} 
.contenedor-carousel .carousel .pelicula.hover{
    transform-origin: center;
    transform: scale(1.05); 
}


.contenedor-carousel .carousel .pelicula img{
     width: 100%;
      vertical-align: top;
}

.Footer{
    background: #FA0050;
    text-align: center;
    padding: 30px 0;
    margin-top: 0px;
    font-family:texta alt,muli, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #ffffff;
    height:fit-content;
   
    
}

header{
    display: flex;
    padding: 1em 1em;
    width: auto;
    background-color: #fa0050;
    color: #ffffff;
  
    height: fit-content;


}
.Logo{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 50px;

}
.Logo img{
    width: 150px;
    height: auto;
    
    
}


header h1{
    
    width: 100%;
    font-weight: 800;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 60px;
}

main{
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0 20%;
}




 
.head h1{
    font-family: texta alt, muli,lato,sans-serif;
    font-weight: 800;
    padding: 10px 5%;
    font-size: 32px;
    color: #fa0050;
}

.head-2 h1{
    font-family: texta alt, muli,lato,sans-serif;
    font-weight: 800;
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 32px;
    color: #fa0050;

}


.parrafo-1 p{
    font-weight: 400;
    font-family: lato,sans-serif;
    font-size: 20px;
    color: #100423;
    padding: 10px 5%;

}
.parrafo-1 ul li{
    font-weight: 400;
    font-family: lato,sans-serif;
    font-size: 20px;
    color: #100423;
    padding: 10px 5%;
}


/*------------TARJETAS-----------------*/




.main-tarjetas{
    background-color:#fa0050;
    border-radius: 20px;
    margin: 20px 5%;
}

.tarjeta{
    display: flex;
    margin: 5px 60px;
    justify-content: space-between;
    padding: 25px 0px;
    
}
.icono{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.icono img{
    width: 200px;
}
.titulo{
    width: 60%;

}
.titulo h1{
    font-size: 40px;
    line-height: 50px;
    font-family: texta alt, muli,lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #fff;

}
.titulo p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px;
    color: #fff;

}
.titulo ul li{
    color: #fff;
}

  





    


/*------------TARJETAS-----------------*/







.arbol{
    padding-top: 30px;
}



 .cont-rows{
     cursor: pointer;
     margin-top: 17px;
     margin-bottom: 17px;
     padding: 10px 20px;
     border-radius: 35px;
     border-style: solid;
     border-color: #fa0050;
     width: 80%;
     background-color: #fff;
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     font-family: lato,texta alt, muli,sans-serif;  
     font-size: small;
    
 }
 .cont-rows a{
    text-decoration: none;
    color: #100423; 
 }

 .cont-rows:hover,.cont-rows a:hover{
     background-color: #fa0050;
     color: #fff;
     transition-duration: 0.5s;
 }


 
 
 
 
 
   
 
 
 
 
 
     
 
     
 
 
 
 
.Footer{
    background: #fa0050;
    text-align: center;
    padding: 30px 0;
    margin-top: 0px;
    font-family:texta alt, muli, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #ffffff;
    height:fit-content;
    
}


.Footer .container-fot{
    display: block;
    
}





.Footer .container-fot .logo-fot{
    display: flex;
    padding: 20px 55px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}

.Footer .container-fot .Social-media{

   padding: 0px 60px;
   line-height: 30px;
   
}

.Footer .container-fot .Social-media a{ 
    display: ;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.Social-media a img{
    width: 50px;
}
.Footer .container-fot .legal{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}


 
 
 
 @media only screen and (max-width:800px ) {
     
   
    header h1{
    
        width: 100%;
        font-weight: 800;
        font-family: texta alt, muli,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }
  
    header{
        display: flex;
        padding: 1em 1em;
        width: auto;
        background-color: #fa0050;
        color: #ffffff;
        height: fit-content;
    
    }
    main{

        padding: 0 0%;
    }
    
    .Logo {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0px;
    } 
    .Logo img{
        width: 100px;
        height: auto;
    } 
    

    .head h1{
    
        font-size: 30px;
        
    }
    
    .head-2 h1{
    
        font-size: 30px;
        
    
    }
    .main-tarjetas{
        margin:15px 3%;
    }





    .tarjeta {
        display: flex;
        margin: 55px 60px;
        justify-content: space-between;
        padding: 27px 0px;
    }

    .icono img {
        width: 150px;
    }


    .parrafo-1 p{
        font-size: 16px;
        padding-right: 4%;
        padding-left: 4%;
        padding-top: 20px;
    
    }




     .cont-rows{
         font-size: 10px;
     }
     
 
     
    .Footer{
        padding:7px 0px;
    }
    .logo-fot{
        padding: 10px 54px;
    }
    .Footer .container-fot .Social-media{
        padding:0px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .Footer .container-fot .Social-media a {
       font-size: 16px;
       font-weight: 700;
    }
     .Social-media a img{
     width: 20px;
    }
 
    .logo-fot-Peya{
        margin: auto;
        width: 100px;
        padding-bottom: 15px;
    }

 
 
 }

 @media only screen and (max-width:600px ) {

    .tarjeta{
        width:fit-content;
        display: block;
        margin: 20px 40px;
    }
    .icono{
        text-align: center;
    }
    .icono img{
        width: 60%;
    }
    .titulo{
        width: 100%;
        text-align: center;
    }
    .titulo h1{
        font-size: 30px;
    }
}
    
  
 @media only screen and (max-width:300px ) {
    header h1{
        font-size: 20PX;
    }

    .text h1{
        font-size: 18px;
    }

 }
 