.main-tarjetas{
    background-color:#fa0050;
    border-radius: 20px;
    margin: 20px 5%;
}

.tarjeta{
    display: flex;
    margin: 5px 60px;
    justify-content: space-between;
    padding: 25px 0px;
    
}
.icono{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.icono img{
    width: 200px;
}
.titulo{
    width: 60%;

}
.titulo h1{
    font-size: 40px;
    line-height: 60px;
    font-family: texta alt, muli,lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #fff;

}
.titulo p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px;
    color: #fff;

}
.titulo ul li{
    color: #fff;
}

.titulo1{
    width: 60%;

}
.titulo1 h1{
    font-size: 40px;
    line-height: 60px;
    font-family: texta alt, muli,lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #000;

}
.titulo1 p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: lato,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px;
    color: #000;

}
.titulo1 ul li{
    color: #000;
}

/*------------TARJETAS-----------------*/

.arbol{
    padding-top: 30px;
}



 .cont-rows{
     cursor: pointer;
     margin-top: 17px;
     margin-bottom: 17px;
     padding: 10px 20px;
     border-radius: 35px;
     border-style: solid;
     border-color: #fa0050;
     width: 80%;
     background-color: #fff;
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     font-family: lato,texta alt, muli,sans-serif;  
     font-size: small;
    
 }
 .cont-rows a{
    text-decoration: none;
    color: #100423; 
 }

 .cont-rows:hover,.cont-rows a:hover{
     background-color: #fa0050;
     color: #fff;
     transition-duration: 0.5s;
 }


 
 
 @media only screen and (max-width:800px ) {
     
 
    .head h1{
    
        font-size: 30px;
        
    }
    
    .head-2 h1{
    
        font-size: 30px;
        
    
    }
    .main-tarjetas{
        margin:15px 3%;
    }





    .tarjeta {
        display: flex;
        margin: 55px 60px;
        justify-content: space-between;
        padding: 27px 0px;
    }

    .icono img {
        width: 150px;
    }


    .parrafo-1 p{
        font-size: 16px;
        padding-right: 4%;
        padding-left: 4%;
        padding-top: 20px;
    
    }




     .cont-rows{
         font-size: 10px;
     }
     
 
     
    .Footer{
        padding:7px 0px;
    }
    .logo-fot{
        padding: 10px 54px;
    }
    .Footer .container-fot .Social-media{
        padding:0px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .Footer .container-fot .Social-media a {
       font-size: 16px;
       font-weight: 700;
    }
     .Social-media a img{
     width: 20px;
    }
 
    .logo-fot-Peya{
        margin: auto;
        width: 100px;
        padding-bottom: 15px;
    }

 
 
 }

 @media only screen and (max-width:600px ) {

    .tarjeta{
        width:fit-content;
        display: block;
        margin: 20px 40px;
    }
    .icono{
        text-align: center;
    }
    .icono img{
        width: 60%;
    }
    .titulo{
        width: 100%;
        text-align: center;
    }
    .titulo h1{
        font-size: 30px;
    }
}
    
  
 @media only screen and (max-width:300px ) {
    header h1{
        font-size: 20PX;
    }

    .text h1{
        font-size: 18px;
    }

 }
 