/* -----------------------controles-------------- */
main .Indicadores{
    align-items: center;
    margin-top: 60px;

}
main .Indicadores button{
     margin-top: 30px;
     background: #100423;
     height: 20px;
     width: 20px;
     cursor: pointer;
     border: none;
     margin-right: 2px;
     border-radius: 10px;

}
main .Indicadores button:hover,
main .Indicadores button.activo {
    background: red;

}


.contenedor-principal .flecha-izquierda,
.contenedor-principal .flecha-derecha{ 
    position: absolute;
    border: none;
    background:rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 30% );
    line-height: 40px;
    width: 50px ;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all ;    
}

.contenedor-principal .flecha-izquierda:hover,
.contenedor-principal .flecha-derecha:hover{
     background: rgba(0,0 ,0, 0.9)
}

.contenedor-principal .flecha-izquierda{
    left: 0;
}
.contenedor-principal .flecha-derecha{
    right:0;
}

/* -----------------------Carrusel-------------- */


.contenedor-carousel{
     width: 100%;
     padding:  20px 0px;
     margin-bottom:60px;
     overflow: hidden;
    scroll-behavior: smooth; 
}
.contenedor-carousel .carousel{
     display: flex;
     flex-wrap: nowrap;
}
.contenedor-carousel .carousel .pelicula{
     min-width: 50%;
     transition: .3s ease all;
     box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.3);
} 
.contenedor-carousel .carousel .pelicula.hover{
    transform-origin: center;
    transform: scale(1.05); 
}


.contenedor-carousel .carousel .pelicula img{
     width: 100%;
      vertical-align: top;
}



@media screen and (max-width:800px){

   
    .contenedor-carousel{
        overflow: visible;

    }
    .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(1);
        gap: 20px;
    }
    .contenedor-principal .flecha-izquierda,
    .contenedor-principal .flecha-derecha, 
    .Indicadores
    {
        display: none ;
    }
}