
.Cont-titulo h1{
    padding-bottom: 20px;
    padding-top: 60px;
    font-family: texta alt, muli,lato,sans-serif;
    text-align: center;
    font-weight: 800;
    color: #fa0050;
    font-size: 60px;

}


.parrafo{
    background-color:#00d9fc;
    padding: 40px 5%;
    color: white;
    font-size: 18px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
}


.parrafo  img{
    width: 200px;
    padding-top: 10px;
}

.parrafo li{
    padding-top: 20px;
    font-family: lato,sans-serif;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    
}
.parrafo2 p{
    font-family: lato,sans-serif;
    padding-top: 50px;
    text-align: center;

}

.parrafo2{
    background-color:#fa0050;
    padding: 40px 5%;
    color: white;
    font-size: 18px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
}
.parrafo2 h2{
    font-family:texta alt, muli,sans-serif;
    color:white;
    font-weight:800px;

}




.parrafo2 img{
    width: 140px;
    padding-top:30px;
    padding-bottom: 30px;
}





.parrafo3 p{
    font-family: lato,sans-serif;
    text-align: left;
        color: white;

}

.parrafo3{
    background-color: #fa0050;
    padding: 40px 5%;
    font-size: 18px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: left;
}





.con-interesar{
    margin: 70px auto;
}
.titulo h1{
    padding-top: 30px;
    font-family: texta alt, muli,lato,sans-serif;
    text-align: center;
    font-weight: 800;
    color: #100423;
    
}




.cont-rows{
    cursor: pointer;
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 10px 20px;
    border-radius: 35px;
    border-style: solid;
    border-color: #fa0050;
    width: 80%;
    background-color: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: lato,muli,sans-serif;  
    font-size: small;
   
}
.cont-rows a{
   text-decoration: none;
   color: #100423; 
}

.cont-rows:hover,.cont-rows a:hover{
    background-color: #fa0050;
    color: #fff;
    transition-duration: 0.5s;
}


@media only screen and (max-width:800px ) {

    .Cont-titulo h1{
        font-size: 26px;
        padding: 60px 20px 20px 20px;
    }

    .parrafo{
        border-radius: 0px;
        width: 100%;
        font-size: 16px;
        padding: 40px 0%;
    }
    .parrafo li{
        padding: 10px 5px;
        width: 80%;
    }
    .parrafo2 h2{
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        font-size: 20px;
    
    }

    .parrafo2{
        border-radius: 0px;
        width: 100%;
        font-size: 16px;
        padding: 40px 0%;
    }


    .parrafo3{
        border-radius: 0px;
        width: 100%;
        font-size: 16px;
        padding: 40px 0%;
    }


    .parrafo2 p{
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }


    .parrafo3 p{
        margin-right: auto;
        margin-left: auto;
        width: 80%;
       
    }



    .con-interesar{
        padding: 10px 15px;
        margin: 20px auto;

    }

    .titulo h1{
        font-size: 25px;
    }

    .rows-texto h1{
        font-size: 16px;
    } 

}
@media only screen and (max-width:320px ) {
    header h1{
        font-size: 20px;
    }
}
