
h1{
    font-size: var(--pageTitleFontSize);
    font-weight: var(--pageTitleFontWeight);
    color:#fff;
}

.head{
    padding: 50px 13%;
}
.bk{
    background-color: var(--gray-bk);
    min-height: 500px;
}
.container-fluid{
    min-height: 800px;
    width: 60%;
    background-color: #fff;
    padding: 50px;
}

video{
    width: 50%;
    height: auto;
}
img{
    width: 80%;
}
@media (max-width: 767px) {

    .respuestas{
        padding: 20px 20px;  
    }
    h1{
        font-size: var(--pageTitleFontSizeMobile);
    }
    .container-fluid{
        min-height: 800px;
        width: 100%;
        padding: 30px;
    }
    video{
        width: 100%;
        height: auto;
    }
    img{
        width: 100%;
    }
    
}