@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Bold.woff2') format('woff2'),
        url('TextaAlt-Bold.woff') format('woff'),
        url('TextaAlt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-BlackItalic.woff2') format('woff2'),
        url('TextaAlt-BlackItalic.woff') format('woff'),
        url('TextaAlt-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt Book';
    src: url('TextaAlt-BookItalic.woff2') format('woff2'),
        url('TextaAlt-BookItalic.woff') format('woff'),
        url('TextaAlt-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Black.woff2') format('woff2'),
        url('TextaAlt-Black.woff') format('woff'),
        url('TextaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt Book';
    src: url('TextaAlt-Book.woff2') format('woff2'),
        url('TextaAlt-Book.woff') format('woff'),
        url('TextaAlt-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-BoldItalic.woff2') format('woff2'),
        url('TextaAlt-BoldItalic.woff') format('woff'),
        url('TextaAlt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-HeavyItalic.woff2') format('woff2'),
        url('TextaAlt-HeavyItalic.woff') format('woff'),
        url('TextaAlt-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Light.woff2') format('woff2'),
        url('TextaAlt-Light.woff') format('woff'),
        url('TextaAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Regular.woff2') format('woff2'),
        url('TextaAlt-Regular.woff') format('woff'),
        url('TextaAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-MediumItalic.woff2') format('woff2'),
        url('TextaAlt-MediumItalic.woff') format('woff'),
        url('TextaAlt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Italic.woff2') format('woff2'),
        url('TextaAlt-Italic.woff') format('woff'),
        url('TextaAlt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Heavy.woff2') format('woff2'),
        url('TextaAlt-Heavy.woff') format('woff'),
        url('TextaAlt-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-LightItalic.woff2') format('woff2'),
        url('TextaAlt-LightItalic.woff') format('woff'),
        url('TextaAlt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Thin.woff2') format('woff2'),
        url('TextaAlt-Thin.woff') format('woff'),
        url('TextaAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-Medium.woff2') format('woff2'),
        url('TextaAlt-Medium.woff') format('woff'),
        url('TextaAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('TextaAlt-ThinItalic.woff2') format('woff2'),
        url('TextaAlt-ThinItalic.woff') format('woff'),
        url('TextaAlt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

